.containerRight{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.buttonRight{
    width: 100%;
    background-color: rgba(13,104,109,255);
    color:hsl(183, 100%, 15%);
    border: none;
    border-radius: 12px;
    margin: 85px 0 0;
    text-transform: uppercase;
}
.buttonRight:hover{
    background-color: hsl(185, 41%, 84%);
}
.background{
    background-color: hsl(183, 100%, 15%);
    padding: 1rem;
    margin: 1rem;
}

p{
    color:hsl(172, 67%, 45%);
    font-size: 30px;
    margin: 0
}
span{
    color: hsl(0, 0%, 57%);
    font-size: 12px
}
h6{
    color: hsl(0, 0%, 100%);
    margin: 0;
}
