@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-size: 24px;

}
*{
  border-radius: 10px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
}

.leftRightContainer {
  background-color: orange;
}