input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
input{
    direction: rtl;
    padding: 0;
    border: none;
    width: 100%;
    background-color: hsl(189, 41%, 97%);
    font-family: 'Space Mono', monospace;
    font-size: 24px;

}
.regularTips:focus-visible{
    outline: 1px solid #26c0ab !important;
}

.error{
    color: red;
    display: flex;
    width: max-content;
}
.customTips:focus-visible{
    outline: 1px solid #26c0ab !important;
}
.leftContainer{
    margin: 1.5rem;
}
h5{
    margin: 0;
    padding: 0;
}